@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yanone+Kaffeesatz:wght@500&display=swap');
/*Zerando o CSS*/
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*Animaçãod dos links*/
.animacao:link, a:visited, a:active {
	text-decoration:none;
	font-family: 'Roboto';
	font-weight: 500;
	}
.animacao:hover {
	background:rgba(46, 46, 44, 0.329);
	font-family: 'Roboto';
	font-weight: 500;
	border-radius: 10px;
	}
/*Demais formatações*/	
.fonte-roboto{
	font-family:'Roboto';
	font-weight: 500;
	color: gray;
	font-style:normal;
	text-decoration: none;
}
.fonte-roboto-italic{
	font-family: 'Roboto';
	font-style: oblique;
	color: rgba(189, 189, 189, 0.075);
}
.carousel-borda{
	margin-left: 5px;
	margin-right: 5px;
}
.carrinho{
	background-color: rgba(39, 39, 39, 0.274);
	color: rgba(128, 128, 128, 0.034);
	font-family:'Roboto';
	font-weight: 500;
}
p{
	font-family:'Roboto';
	color: gray;
	font-style:normal;
	text-decoration: none;
}
h2{
	font-family:'Roboto';
	color: #FFC107;
	font-style:normal;
	text-decoration: none;
}
h5{
	font-family:'Roboto';
	color: #FFC107;
	font-style:normal;
	text-decoration: none;
}
h3{
	font-family:'Roboto';
	color: #FFC107;
	font-style:normal;
	text-decoration: none;
	background-color: rgba(128, 128, 128, 0.527);
	border-radius: 20px;
	border-width: 10px;
	background-size: 5x;
}
/*Titulo provisori pagina home*/
.titulo-provisorio{
	display: grid;
	font-family:'Roboto';
	font-weight: 500;
	color: gray;
	background-color: #ffc1075d;
	border-radius: 20px;
}
.botao{
	background-color: #daac23;
}
@media (max-width: 992px) { 
.imagem{
	
	display: none;
}
form{
	align-items: center;
}
.botao{
	text-align: center;
}
.titulo-provisorio{
	font-size:15px;
	color: gray;
	background-color: #ffc1075d;

}
.promocoesTitulo{
	font-size: 25px;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 500;
}
}